.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  /* padding-top: 20px; */
  background-color: #DCF8FD;
  opacity: 0.9;
  overflow: hidden;
}
.left {
  position: absolute;
  left: 0;
  background-image: url("./Images/3718984.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.bottom {
  text-align: center;
  padding-top: 530px;
  font-family: Arial;
}
.right {
  position: absolute;
  right: 0;
  background-color: white;
  overflow: hidden;

  /* background-image: url("Images/In-Class-01-01.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center; */
}
.flex {
  padding-top: 13vh;
}
.font {
  padding-left: 70;
  padding-top: 5vh;
}
.input-icon {
  position: relative;
  width: 90%;
}
.password {
  margin: 0;
  padding-right: 9%;
  width: 100%;
}
.eye {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 24px;
  height: 24px;
}

.select {
  margin-left: 590px;
  margin-top: 10px;
}
h2 {
  text-align: center;
  /* padding-top: 15%; */
}
.input {
  border: none;
  outline: 0px;
  border-bottom: 2px solid lightgrey;
  width: 80%;
  margin-left: 70px;
}
button {
  width: 81%;
  height: 40px;
  margin-left: 70px;
  color: white;
  background-color: lightskyblue;
  border-radius: 5px;
}
.copyright {
  text-align: center;
  padding-top: 210px;
}

.logo {
  width: 50%;
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Forgot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 68px;
  margin-right: 80px;
}
.fontall {
  font-family: Arial, Helvetica, sans-serif;
}
