.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  /* padding-top: 20px; */
  background-color: #DCF8FD;
  opacity: 0.9;
  overflow: hidden;
}
.left {
  position: absolute;
  left: 0;
}
.split img{
  width:100%;
  height:auto;
  object-fit: cover;
}
.bottom {
  text-align: center;
  font-family: Arial;
}
.right {
  position: absolute;
  right: 0;
  background-color: white;
  overflow: hidden;
}

.label{
  margin-top: 200px;
}
.font {
  padding-left: 70;
  padding-top: 5vh;
}
.input-icon {
  position: relative;
  width: 90%;
}
.middle{
  text-align: center;
}
.password {
  margin: 0;
  padding-right: 9%;
  width: 100%;
  margin-left: 9vh;
}
.eye {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 24px;
  height: 24px;
}

.select {
  position: absolute;
  right: 70px;
  margin-top: 20px;
  
}
h2 {
  text-align: center;
  /* padding-top: 15%; */
}
.input {
  border: none;
  outline: 0px;
  border-bottom: 2px solid lightgrey;
  width: 80%; 
}
button {
  width: 81%;
  height: 40px;
  color: white;
  background-color: lightskyblue;
  border-radius: 5px;
  border: none;
  margin-top: 35px
}
.forgotrow{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 70px 0px 70px;
}
.forgot{
  color:#4AB9E2
}
.copyright {
  text-align: center;
  margin-top: 25vh; 
}
.logo {
  width: 50%;
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rightlogo{
  padding-top: 150px;
}
.fontall {
  font-family: Arial, Helvetica, sans-serif;
}

/* *************************** */


@media(max-width:767px){
  .left{
    display:none;
    width: 100%;
  }
  .right{
    width: 100%;
  }
}
@media(max-width:375px){
  .forgotrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}
}
  
@media(max-width:414px){
  .copyright{
    margin-top: 20vh;
    padding: 0px 20px 0px 20px;
  }
  .password{
    margin-left: 5vh;
  }
  .forgotrow{
    
    flex-direction: column;
    justify-content:space-around;
    margin-left: 40px;
  }
  .rightlogo{
    padding-top: 100px; 
  }
  .select{
    position: absolute;
  right: 35px;
  }
  .logo {
    width: 100%;
    max-width: 200px;
    margin-top:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
}
@media(max-width:414px){
  .copyright{
    margin-top: 14vh;
    padding: 0px 28px 0px 28px;
  }
}
  

